body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #ff4d88;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
  font-size: 17px;
}


.icon-bar {
  width: 90px;
  height: 990px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  margin-top: 75px;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #ff4d88;
}

